# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

cosign.key

flask-template-api.tar

trivy-bin/
syft-bin/
gitleaks-bin/
cosign.exe
*.zip
*.tar
